In [1]:
my_tuple = (10,20,30,50,40)
print("tuple:",my_tuple)

tuple: (10, 20, 30, 50, 40)

In [2]:
#index
my_tuple = (10,20,30,50,40)
index_of_20 = my_tuple.index(20)
print("Index of 20:", index_of_20)

Index of 20: 1

In [3]:
#count()
my_tuple = (10,20,30,50,40,50,60,78,)
count_10 = my_tuple.count(10)
print("count of 10:", count_10)

count of 10: 1

In [4]:
#len()
my_tuple = (10, 20, 30, 40)
print(len(my_tuple))

4

In [5]:
#max and min
my_tuple = (10, 20, 30, 50, 40, 50, 60, 78)
maximum_value = max(my_tuple)
minimum_value = min(my_tuple)
print("Maximum:", maximum_value)
print("Minimum:", minimum_value)

Maximum: 78
Minimum: 10

In [6]:
#sum()
my_tuple = (10, 20, 30, 50, 40)
total = sum(my_tuple)
print(total)

150

In [7]:
#Given a tuple of numbers and a target element, find and print all indexes where the target element occurs in the tuple.

numbers = (10, 20, 30, 20, 40, 20, 50)
target =20
indexes = []
for i in range(len(numbers)):
    if numbers[i] == target:
        indexes.append(i)
print("indexes:", indexes)

indexes: [1, 3, 5]

In [8]:
#set 
my_set = {1,2,4,4,5}
print("initial set:", my_set)
print(type(my_set))

initial set: {1, 2, 4, 5}
<class 'set'>

In [9]:
#add
my_set = {1,2,4}
my_set.add(3)
print("after add:",my_set)

after add: {1, 2, 3, 4}

In [10]:
#update
my_set = {1,2}
my_set.update((1,2,3),[5,6,7])
print("after update:",my_set)

after update: {1, 2, 3, 5, 6, 7}

In [11]:
#remove
my_set = {1,2}
my_set.remove(2)
print("after remove:",my_set)

after remove: {1}

In [12]:
#discard( doesnt throw an error)
my_set = {1,2}
my_set.discard(4)
print("after discard:",my_set)

after discard: {1, 2}

In [13]:
#pop(removes last item)

my_set = {1,2,6}
remove_item = my_set.pop()
print("removed item:",remove_item)
print("after pop:",my_set)

removed item: 1
after pop: {2, 6}

In [14]:
#clear

my_set = {10, 20, 30, 40}
my_set.clear()
print("After clear():", my_set)

After clear(): set()

In [15]:
#union
set1 = {1,2,3}
set2 = {3,4,5}
result = set1.union(set2)
print("union:",result)

union: {1, 2, 3, 4, 5}

In [16]:
#intersection
set1 = {1,2,3}
set2 = {3,2,5}
result = set1.intersection(set2)
print("intersection:",result)

intersection: {2, 3}

In [17]:
#symmetric difference (set1)
set1 = {1,2,3}
set2 = {3,2,4}
result = set1.symmetric_difference(set2)
print("symmetric:", result)

symmetric: {1, 4}

In [18]:
#difference
set1 = {1,2,3}
set2 = {3,2,4}
result = set1.difference(set2)
print("symmetric:", result)

symmetric: {1}

In [19]:
#isssubset
set1 = {1,2}
set2 = {1,2,4}
print("Is set1 subset of set2?",set1.issubset(set2))

Is set1 subset of set2? True

In [20]:
#issuperset
set1 = {1,2,4}
set2 = {1,2}
print("Is set1 superset of set2?",set1.issuperset(set2))

Is set1 superset of set2? True

In [21]:
#remove duplicates from a list using set
numbers = [1, 2, 3, 2, 4, 1, 5]
my_set = set()
my_set.update(numbers)
result = list(my_set)

print("after removing duplicates:", result)

after removing duplicates: [1, 2, 3, 4, 5]